<div
  local-class={{concat "card " @state}}
  {{sprite id=(concat @id "-card") role="card"}}
  ...attributes
>
  <div local-class="header transform-inversion width-adjust" >
    <h1 local-class="title" {{sprite id=(concat @id "-title") role="title"}}>
      {{@title}}
    </h1>
    <div>
      {{#if (eq @state "MAX")}}
        {{#if @expand}}
          <button type="button" local-class="expand-button" {{on "click" @expand}}>
            EXP
          </button>
        {{/if}}
      {{/if}}
      {{#if (eq @state "MIN")}}
        {{#if @expand}}
          <button type="button" local-class="expand-button" {{on "click" @expand}}>
            EXP
          </button>
        {{/if}}
      {{/if}}
      {{#if (eq @state "EXPANDED")}}
        {{#if @minimize}}
          <button type="button" local-class="minimize-button" {{on "click" @minimize}}>
            MIN
          </button>
        {{/if}}
        {{#if @maximize}}
          <button type="button" local-class="maximize-button" {{on "click" @maximize}}>
            MAX
          </button>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div local-class="scrollable transform-inversion top-adjust" {{sprite id=(concat @id "-card-content") role="card-content"}}>
    {{yield}}
  </div>
</div>