<AnimationContext local-class="accordion-panel-animation-context" @use={{this.resizePanels}}>
  <div local-class="accordion-panel-body" {{sprite id=(concat @id "-accordion-panel-body") role="accordion-panel-body"}}>
    <h3 local-class="accordion-panel-header">
      <button
        aria-expanded={{if @expanded "true" "false"}}
        {{!-- we don't allow closing just yet --}}
        aria-disabled={{if @expanded "true" "false"}}
        local-class="Accordion-trigger"
        aria-controls={{concat @id "-section"}}
        id={{concat @id "-trigger"}}
        data-is-accordion-trigger="true"
        {{on "click" (fn @trigger @id)}}
      >
        <span local-class="Accordion-title">
          {{@title}}
          <span local-class="Accordion-icon"></span>
        </span>
      </button>
    </h3>
    {{#if @expanded}}
    <div
      {{sprite id=(concat @id "-accordion-panel-content") role="accordion-panel-content"}}
      id={{concat @id "-section"}}
      role="region"
      aria-labelledby={{@id}}
      local-class="Accordion-panel"
    >
      <div>
        {{!-- Variable content within section, may include any type of markup or interactive widgets. --}}
        <fieldset>
          {{#each @fields as |field|}}
            <p>
              <label for={{concat @id "-" field}}>
                {{field}}
                :
              </label>
              <input type="text"
                      value=""
                      name={{field}}
                      id={{concat @id "-" field}}
                      local-class="required"
                      aria-required="true">
            </p>
          {{/each}}
        </fieldset>
      </div>
    </div>
    {{/if}}
  </div>
</AnimationContext>