<HomeRenoV2::Card
  @state={{@state}}
  @minimize={{fn @minimize @card}}
  @maximize={{fn @maximize @card}}
  @expand={{fn @expand @card}}
>
  {{#if (eq @state "MIN")}}
      Gallery
      <div>{{@id}}</div>
  {{else if (eq @state "MAX")}}
      Gallery
      <ul local-class="suggestion-list">
        <ul local-class="image-list">
            {{#each @card.model.images as |image|}}
              <li>
                  <img src={{image}} alt="Duck">
              </li>
            {{/each}}
        </ul>
        {{#each @suggestions as |suggestion|}}
          <li>
            {{#if (eq suggestion.state "MAX")}}
              <HomeRenoV2::Placeholder/>
            {{else}}
              {{component
                (concat "home-reno-v2/" suggestion.type)
                  card=suggestion
                  model=suggestion.model
                  state=suggestion.state
                  suggestions=suggestion.suggestions
                  canUpdateState=suggestion.canUpdateState
                  minimize=@minimize
                  maximize=@maximize
                  expand=@expand
              }}
            {{/if}}
          </li>
        {{/each}}
      </ul>
  {{else if (eq @state "EXPANDED")}}
      <ul local-class="image-list">
          {{#each @card.model.images as |image|}}
          <li>
              <img src={{image}} alt="Duck">
          </li>
          {{/each}}
      </ul>
  {{/if}}
</HomeRenoV2::Card>