<HomeRenoV2::Card
  @state={{@state}}
  @title="GALLERY"
  @id={{@id}}
  @minimize={{fn @minimize @card}}
  @maximize={{fn @maximize @card}}
  @expand={{fn @expand @card}}
>
  {{#if (eq @state "MIN")}}
  {{else if (eq @state "MAX")}}
      <ul local-class={{concat "image-list " @state}}>
          {{#each @model.images as |image index|}}
            <li  {{sprite id=(concat @id "-image-" index)}}>
                <img src={{image.path}} alt={{image.attribution}} title={{image.attribution}}>
            </li>
          {{/each}}
      </ul>
      <ul local-class="suggestion-list">
        {{#each @suggestions as |suggestion|}}
          <li>
            {{#if (eq suggestion.state "MAX")}}
              <HomeRenoV2::Placeholder/>
            {{else}}
              {{component
                (concat "home-reno-v2/" suggestion.type)
                  card=suggestion
                  model=suggestion.model
                  state=suggestion.state
                  id=suggestion.id
                  suggestions=suggestion.suggestions
                  canUpdateState=suggestion.canUpdateState
                  minimize=@minimize
                  maximize=@maximize
                  expand=@expand
              }}
            {{/if}}
          </li>
        {{/each}}
      </ul>
  {{else if (eq @state "EXPANDED")}}
      <ul local-class={{concat "image-list " @state}}>
          {{#each @model.images as |image index|}}
          <li  {{sprite id=(concat @id "-image-" index)}}>
              <img src={{image.path}} alt={{image.attribution}} title={{image.attribution}}>
          </li>
          {{/each}}
      </ul>
  {{/if}}
</HomeRenoV2::Card>