<div data-test-guests-demo class="lg:flex lg:-mx-4">
  <div class="lg:mx-4 lg:w-2/5 lg:flex-no-shrink">
    <div class="shadow-lg rounded-lg overflow-hidden mb-8">
      <div class="p-6">
        <div class="flex mb-3">
          <p class='text-lg'>How many guests?</p>
          <div class="ml-4 ">
            <div class="flex items-center">
              <button
                disabled={{eq this.guests 1}}
                class='rounded-full text-lg border font-semibold border-pink text-pink w-8 h-8 flex items-center justify-center select-none focus:outline-none focus:shadow-outline hover:bg-pink hover:text-white {{if (eq this.guests 1) ' opacity-50 pointer-events-none'}}'
                type="button"
                {{on 'click' this.removeGuest}}
              >
                -
              </button>
              <span class='text-pink font-bold w-8 text-center text-lg'>
                {{this.guests}}
              </span>
              <button
                class='rounded-full text-lg border font-semibold border-pink text-pink w-8 h-8 flex items-center justify-center select-none focus:outline-none focus:shadow-outline hover:bg-pink hover:text-white {{if (eq this.guests 6) ' opacity-50 pointer-events-none'}}'
                type="button"
                disabled={{eq this.guests 6}}
                {{on 'click' this.addGuest}}
              >
                +
              </button>
            </div>
          </div>
        </div>

        <div class='text-3xl text-pink select-none'>
          {{#if this.animationEnabled}}
            <AnimationContext @use={{this.transition}} as |context|>
              {{#each (range 0 this.guests)}}
                <span class='inline-block' {{sprite context=context}}>{{svg-jar 'user' width=24 height=24}}</span>
              {{/each}}
            </AnimationContext>
          {{else}}
            {{#each (range 0 this.guests)}}
              <span class='inline-block'>{{svg-jar 'user' width=24 height=24}}</span>
            {{/each}}
          {{/if}}
        </div>
      </div>

      <ToggleBar
        @enabled={{this.animationEnabled}}
        @onToggle={{fn (mut this.animationEnabled)}}
      >
        ✨Animate
      </ToggleBar>
    </div>
  </div>

  <div class='lg:mx-4 lg:w-3/5 overflow-hidden'>
    <AnimatedCodeDiff
      @label='index.hbs'
      @diff={{this.templateDiff}}
      @isShowingFinal={{this.animationEnabled}}
      @onAnimationChange={{fn (mut this.isAnimating)}}
    />

    <div class="mt-4">
      <AnimatedCodeDiff
        @label='index.js'
        @diff={{this.componentDiff}}
        @isShowingFinal={{this.animationEnabled}}
        @animationPaused={{this.isAnimating}}
      />
    </div>
  </div>
</div>
