<div local-class="page">
  <button type="button" {{on "click" (fn (mut this.move) (not this.move))}}>Move</button>

  <AnimationContext @use={{this.transition}} local-class="context">
    <div {{sprite id="outer"}} local-class="outer {{if this.move "right"}}">
      Outer Sprite
      <AnimationContext @use={{this.innerTransition}} @id="inner" local-class="context">
        <div {{sprite id="inner"}} local-class="inner {{if this.move "right"}}">Inner Sprite</div>
      </AnimationContext>
    </div>
  </AnimationContext>
</div>