<HomeRenoV2::Card
  @state={{@state}}
  @minimize={{fn @minimize @card}}
  @maximize={{fn @maximize @card}}
  @expand={{fn @expand @card}}
>
  {{#if (eq @state "MIN")}}
      Minimized Outline
      <div>{{@id}}</div>
  {{else if (eq @state "MAX")}}
      Maximized Outline
      <div>{{@id}}</div>
      <ul local-class="suggestion-list">
        {{#each @suggestions as |suggestion|}}
            {{#if (eq suggestion.state "MAX")}}
              <HomeRenoV2::Placeholder/>
            {{else}}
              {{component
                (concat "home-reno-v2/" suggestion.type)
                  card=suggestion
                  model=suggestion.model
                  state=suggestion.state
                  suggestions=suggestion.suggestions
                  canUpdateState=suggestion.canUpdateState
                  minimize=@minimize
                  maximize=@maximize
                  expand=@expand
              }}
            {{/if}}
        {{/each}}
      </ul>
  {{else if (eq @state "EXPANDED")}}
      Expanded Outline
      <div>{{@id}}</div>
  {{/if}}
</HomeRenoV2::Card>