<HomeRenoV2::Card
  @state={{@state}}
  @minimize={{fn @minimize @card}}
  @maximize={{fn @maximize @card}}
  @expand={{fn @expand @card}}
>
  {{#if (eq @state "MIN")}}
      Form
  {{else if (eq @state "MAX")}}
      Form
      <div>
        <label>
          Item 1
          <input value="Entry 1">
        </label>
      </div>
      <ul local-class="suggestion-list">
        {{#each @suggestions as |suggestion|}}
          <li>
            {{#if (eq suggestion.state "MAX")}}
              <HomeRenoV2::Placeholder/>
            {{else}}
              {{component
                (concat "home-reno-v2/" suggestion.type)
                  card=suggestion
                  model=suggestion.model
                  state=suggestion.state
                  suggestions=suggestion.suggestions
                  canUpdateState=suggestion.canUpdateState
                  minimize=@minimize
                  maximize=@maximize
                  expand=@expand
              }}
            {{/if}}
          </li>
        {{/each}}
      </ul>
  {{else if (eq @state "EXPANDED")}}
      Form
      <div>
        Item 1: Entry 1
      </div>
  {{/if}}
</HomeRenoV2::Card>