  <div
    {{sprite id="accordion"}}
    class="Accordion {{if this.isFocused "focus"}}"
    {{on "focusin" this.handleFocusin}}
    {{on "focusout" this.handleFocusout}}
  >
    {{#each this.items as |item|}}
      <AnimationContext @use={{this.resizePanels}}>
        <Accordion::Panel
          @id={{item.id}}
          @title={{item.title}}
          @expanded={{eq this.currentItem item.id}}
          @trigger={{this.handleTrigger}}
        />
      </AnimationContext>
    {{/each}}
  </div>