
<div class="controls m-5 text-sm">
  <h2 class="text-lg font-bold">Controls</h2>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.showContentBeforeContext}} onclick={{action (mut this.showContentBeforeContext) value="target.checked"}}>
      Show content before AnimationContext 1
    </label>
  </p>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.showContentBefore}} onclick={{action (mut this.showContentBefore) value="target.checked"}}>
      Show content before sprites in AnimationContext 1
    </label>
  </p>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.showSpriteA}} onclick={{action (mut this.showSpriteA) value="target.checked"}}>
      Include Sprite A
    </label>
    |
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.spriteAPositionBottom}} onclick={{action (mut this.spriteAPositionBottom) value="target.checked"}}>
      Sprite A appears at bottom
    </label>
  </p>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.showSpriteB}} onclick={{action (mut this.showSpriteB) value="target.checked"}}>
      Include Sprite B
    </label>
  </p>
  <p class="my-2">
    <button class="border-2 p-1 px-4 rounded-lg" type="button" {{on 'click' this.toggleSpritesAandB}}>
      Toggle Inclusion of A and B
    </button>
     <button class="border-2 p-1 px-4 rounded-lg" type="button" {{on 'click' this.moveSpriteC}}>
      Move C to Other Context
    </button>
  </p>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.showContentAfter}} onclick={{action (mut this.showContentAfter) value="target.checked"}}>
      Show content after sprite
    </label>
  </p>
  <p>
    <label>
      {{!-- template-lint-disable no-action --}}
      <input type="checkbox" checked={{this.contextHasPadding}} onclick={{action (mut this.contextHasPadding) value="target.checked"}}>
      AnimationContext has padding
    </label>
  </p>
</div>

<div class='flex w-full m-4'>
  <div class="flex-none w-1/2">
    <h2 class="p-2 bg-grey-lightest mr-2">Animation Context 1</h2>

    {{#if this.showContentBeforeContext}}
      <p>Here is some content before AnimationContext 1</p>
    {{/if}}
    <div class="some-container {{if this.contextHasPadding 'with-padded-animation-context'}}">
      <AnimationContext @id="1" @use={{this.transition}}>
        <div {{sprite id="container"}}>
          {{#if this.showContentBefore}}
            <p>Here is some content before the sprite</p>
          {{/if}}

          {{#if (and this.showSpriteA (not this.spriteAPositionBottom))}}
            <div class="sprite" {{sprite id="A"}}>
              Hello, I am a sprite A
            </div>
          {{/if}}

          {{#if this.showSpriteB}}
            <div class="sprite" {{sprite id="B"}}>
              Hello, I am a sprite B
            </div>
          {{/if}}

          {{#if (eq this.spriteCPosition 0)}}
            <div class="sprite" {{sprite id="C"}}>
              Hello, I am a sprite C
            </div>
          {{/if}}

          {{#if (and this.showSpriteA this.spriteAPositionBottom)}}
            <div class="sprite" {{sprite id="A"}}>
              Hello, I am a sprite A
            </div>
          {{/if}}

          {{#if this.showContentAfter}}
            <p>Here is some content after the sprite</p>
          {{/if}}
        </div>
      </AnimationContext>
    </div>
  </div>
  <div class="flex-none w-1/2">
    <h2 class="p-2 bg-grey-lightest">Animation Context 2</h2>
    <AnimationContext @id="2" @use={{this.transition}}>
      {{#if (eq this.spriteCPosition 1)}}
        <div class="sprite" {{sprite id="C"}}>
          Hello, I am a sprite C
        </div>
      {{/if}}

    </AnimationContext>
  </div>
</div>

<h3 class="font-bold mx-4 text-sm">Notes</h3>
<ol class="px-8 text-sm">
  <li>ℹ Open the inspector to observe logging as you interact with this page.</li>
  <li>✔ Changing content before AnimationContext DOES NOT trigger sprite changes.</li>
  <li>✔ Changing content within AnimationContext above sprites DOES trigger sprite changes.</li>
  <li>✔ Changing content within AnimationContext below sprites DOES NOT trigger sprite changes.</li>
  <li>✔ Insertions, removals and changes are batched into one changeset.</li>
  <li>✔ Changing padding on AnimationContext triggers sprite changes.</li>
</ol>
