
<div class="controls">

  <h2>Controls</h2>
  <p>
    <label>
      <input type="checkbox" checked={{this.showContentBeforeContext}} onclick={{action (mut this.showContentBeforeContext) value="target.checked"}}>
      Show content before AnimationContext 1
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" checked={{this.showContentBefore}} onclick={{action (mut this.showContentBefore) value="target.checked"}}>
      Show content before sprites in AnimationContext 1
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" checked={{this.showSpriteA}} onclick={{action (mut this.showSpriteA) value="target.checked"}}>
      Show Sprite A
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" checked={{this.showSpriteB}} onclick={{action (mut this.showSpriteB) value="target.checked"}}>
      Show Sprite B
    </label>
  </p>
  <p>
    <button {{on 'click' this.toggleSpritesAandB}}>
      Toggle Sprites A and B
    </button>
  </p>
  <p>
    <button {{on 'click' this.moveSpriteC}}>
      Move Sprite C
    </button>
  </p>
  <p>
    <label>
      <input type="checkbox" checked={{this.showContentAfter}} onclick={{action (mut this.showContentAfter) value="target.checked"}}>
      Show content after sprite
    </label>
  </p>
  <p>
    <label>
      <input type="checkbox" checked={{this.contextHasPadding}} onclick={{action (mut this.contextHasPadding) value="target.checked"}}>
      AnimationContext has padding
    </label>
  </p>
</div>

<div class='columns'>
  <div class="column">
    <h2>Animation Context 1</h2>

    {{#if this.showContentBeforeContext}}
      <p>Here is some content before AnimationContext 1</p>
    {{/if}}
    <div class="some-container {{if this.contextHasPadding 'with-padded-animation-context'}}">
      <AnimationContext @id="1" @use={{this.transition}} as |context|>

        {{#if this.showContentBefore}}
          <p>Here is some content before the sprite</p>
        {{/if}}

        {{#if this.showSpriteA}}
          <div class="sprite" {{sprite context=context id="A"}}>
            Hello, I am a sprite A
          </div>
        {{/if}}

        {{#if this.showSpriteB}}
          <div class="sprite" {{sprite context=context id="B"}}>
            Hello, I am a sprite B
          </div>
        {{/if}}

        {{#if (eq this.spriteCPosition 0)}}
          <div class="sprite" {{sprite context=context id="C"}}>
            Hello, I am a sprite C
          </div>
        {{/if}}

        {{#if this.showContentAfter}}
          <p>Here is some content after the sprite</p>
        {{/if}}

      </AnimationContext>
    </div>
  </div>
  <div class="column">
    <h2>Animation Context 2</h2>
    <AnimationContext @id="2" as |context|>

      {{#if (eq this.spriteCPosition 1)}}
        <div class="sprite" {{sprite context=context id="C"}}>
          Hello, I am a sprite C
        </div>
      {{/if}}

    </AnimationContext>
  </div>
</div>

<h3>Notes</h3>
<ol>
  <li>ℹ Open the inspector to observe logging as you interact with this page.</li>
  <li>✔ Changing content before AnimationContext DOES NOT trigger sprite changes.</li>
  <li>✔ Changing content within AnimationContext above sprites DOES trigger sprite changes.</li>
  <li>✔ Changing content within AnimationContext below sprites DOES NOT trigger sprite changes.</li>
  <li>✔ Insertions, removals and changes are batched into one changeset.</li>
  <li>𐄂 Changing padding on AnimationContext results in movement of sprites but DOES NOT trigger sprite changes.</li>
</ol>
