{{!-- template-lint-disable no-inline-styles --}}
<div class="my-20 w-full max-w-md lg:max-w-2xl mx-auto px-4">
  <div class="text-center max-w-lg mx-auto">
    <h2 class='text-4xl font-semibold leading-tight'>
      Transitions can be interrupted
    </h2>
    <p class='mt-4 text-lg'>
      Click one of the four targets to initiate a transition of the circle to the target.
    </p>
    <AnimationContext @use={{this.moveBall}} class="mt-8 h-64 w-64 m-auto" as |context|>
      <div class="bg-grey-lightest relative h-64 w-64">
        <button
          type="button"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          style="top: 0; left: 0"
          {{on 'click' (fn (mut this.ballGoWhere) 'A')}}
        >
          A
        </button>
        <button
          style="top: 0; right: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'B')}}
        >
          B
        </button>
        <button
          style="bottom: 0; left: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'C')}}
        >
          C
        </button>
        <button
          style="bottom: 0; right: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'D')}}
        >
          D
        </button>
        <div
          {{sprite context=context id="ball"}}
          class="absolute rounded-full bg-red w-10 h-10 ball-position-{{this.ballGoWhere}}"
        ></div>
      </div>
    </AnimationContext>
  </div>
</div>