{{!-- template-lint-disable no-inline-styles --}}
<div class="my-20 w-full max-w-md lg:max-w-2xl mx-auto px-4">
  <div class="text-center max-w-lg mx-auto">
    <h2 class='text-4xl font-semibold leading-tight'>
      Transitions can be interrupted
    </h2>
    <p class='mt-4 text-lg'>
      Click one of the four targets to initiate a transition of the circle to the target.
    </p>
    <AnimationContext @use={{this.transition}} class="mt-8 h-64 w-64 m-auto">
      <div class="bg-grey-lightest relative h-64 w-64">
        <button
          type="button"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          style="top: 0; left: 0"
          {{on 'click' (fn (mut this.ballGoWhere) 'A')}}
          {{on-key 'a'}}
        >
          A
        </button>
        <button
          style="top: 0; right: 0"
          class="absolute rounded-full w-16 h-16 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'B')}}
          {{on-key 'b'}}
        >
          B
        </button>
        <button
          style="bottom: 0; left: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'C')}}
          {{on-key 'c'}}
        >
          C
        </button>
        <button
          style="bottom: 0; right: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'D')}}
          {{on-key 'd'}}
        >
          D
        </button>
        <div
          {{sprite id="single-ball"}}
          class="absolute rounded-full bg-red w-10 h-10 ball-position-{{this.ballGoWhere}}"
        ></div>
      </div>
    </AnimationContext>

    <p>Different approach</p>
    <AnimationContext @use={{this.transition}} class="mt-8 h-64 w-64 m-auto">
      <div class="bg-grey-lightest relative h-64 w-64">
        <button
          type="button"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          style="top: 0; left: 0"
          {{on 'click' (fn (mut this.ballGoWhere) 'A')}}
          {{on-key 'a'}}
        >
          {{#if (eq this.ballGoWhere 'A')}}
            <div
              {{sprite id="ball"}}
              class="absolute pin rounded-full bg-red w-full h-full ball"
            ></div>
          {{/if}}
          A
        </button>
        <button
          style="top: 0; right: 0"
          class="absolute rounded-full w-16 h-16 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'B')}}
          {{on-key 'b'}}
        >
          {{#if (eq this.ballGoWhere 'B')}}
            <div
              {{sprite id="ball"}}
              class="absolute pin rounded-full bg-red w-full h-full ball"
            ></div>
          {{/if}}
          B
        </button>
        <button
          style="bottom: 0; left: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'C')}}
          {{on-key 'c'}}
        >
          {{#if (eq this.ballGoWhere 'C')}}
            <div
              {{sprite id="ball"}}
              class="absolute pin rounded-full bg-red w-full h-full ball"
            ></div>
          {{/if}}
          C
        </button>
        <button
          style="bottom: 0; right: 0"
          class="absolute rounded-full w-12 h-12 border-2 p-2 cursor-pointer focus:outline-none focus:shadow-outline"
          type="button"
          {{on 'click' (fn (mut this.ballGoWhere) 'D')}}
          {{on-key 'd'}}
        >
          {{#if (eq this.ballGoWhere 'D')}}
            <div
              {{sprite id="ball"}}
              class="absolute pin rounded-full bg-red w-full h-full ball"
            ></div>
          {{/if}}
          D
        </button>
      </div>
    </AnimationContext>
  </div>
</div>