<h2>
  List Detail
</h2>

<AnimationContext @id="Detail Animation Context" @use={{this.toDetailTransition}} as |context|>
  {{#if this.selectedPerson}}
    <button type="button" {{on 'click' (fn (mut this.selectedPerson) null)}}>Back</button>
    <div class="detail-card">
      <h2 {{sprite context=context id=(concat "person:" this.selectedPerson.id ":name")}}>{{this.selectedPerson.name}}</h2>
      <h3 {{sprite context=context id=(concat "person:" this.selectedPerson.id ":title")}}>{{this.selectedPerson.title}}</h3>
      <p>{{this.selectedPerson.bio}}</p>
    </div>
  {{/if}}
</AnimationContext>

<AnimationContext @id="List Animation Context" @use={{this.toListTransition}} as |context|>
  {{#unless this.selectedPerson}}
    <ul>
      {{#each this.people as |person|}}
        <li> 
          <span  {{sprite context=context id=(concat "person:" person.id ":name")}}>
            {{person.name}}
          </span>
          <span  {{sprite context=context id=(concat "person:" person.id ":title")}}>
            {{person.title}}
          </span>
          <button type="button" {{on 'click' (fn (mut this.selectedPerson) person)}}>Details</button>
        </li>
      {{/each}}
    </ul>
  {{/unless}}
</AnimationContext>