<h2 class="m-4 text-lg font-bold">
  List Detail
</h2>

<AnimationContext @id="List-Detail" @use={{this.listDetailTransition}}>
  <div class="m-4">
    {{#unless this.selectedPerson}}
      <ul class="person-list" {{sprite role="list"}}>
        {{#each this.people as |person|}}
          <li> 
            <span {{sprite role="person-name" id=(concat "person:" person.id)}} class="inline-block font-bold">
              {{person.name}}
            </span>
            <span {{sprite role="person-title" id=(concat "person:" person.id)}} class="inline-block">
              {{person.title}}
            </span>
            <button
              type="button"
              class="border px-2 rounded-lg text-sm"
              {{sprite}}
              {{on 'click' (fn (mut this.selectedPerson) person)}}
            >
              Details &gt;
            </button>
          </li>
        {{/each}}
      </ul>
    {{/unless}}

    {{#if this.selectedPerson}}
      <div class="detail-card" {{sprite role="card" id=(concat "person:" this.selectedPerson.id)}}>
        <button
          type="button"
          class="border px-2 rounded-lg text-sm"
          {{on 'click' (fn (mut this.selectedPerson) null)}}
        >
          &lt; Back
        </button>
        <div {{sprite role="spaceholder"}}>
          <h2 {{sprite role="person-name" id=(concat "person:" this.selectedPerson.id)}} class="detail-person-name font-bold">
            {{this.selectedPerson.name}}
          </h2>
          <h3 {{sprite role="person-title" id=(concat "person:" this.selectedPerson.id)}} class="detail-person-title">
            {{this.selectedPerson.title}}
          </h3>
        </div>
        <p>{{this.selectedPerson.bio}}</p>
      </div>
    {{/if}}
  </div>
</AnimationContext>
